<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javabull.ssm.blog.dao.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.javabull.ssm.blog.bean.Category">
        <id column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="category_create_time" jdbcType="TIMESTAMP" property="categoryCreateTime"/>
        <result column="category_update_time" jdbcType="TIMESTAMP" property="categoryUpdateTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    category_id, category_name, category_create_time, category_update_time
  </sql>
    <select id="selectByExample" parameterType="com.javabull.ssm.blog.bean.CategoryExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from tb_category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_category
        where category_id = #{categoryId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.javabull.ssm.blog.bean.CategoryExample">
        delete from tb_category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.javabull.ssm.blog.bean.Category">
        insert into tb_category (category_id, category_name, category_create_time,
        category_update_time)
        values (#{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR},
        #{categoryCreateTime,jdbcType=TIMESTAMP},
        #{categoryUpdateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.javabull.ssm.blog.bean.Category">
        insert into tb_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
            <if test="categoryCreateTime != null">
                category_create_time,
            </if>
            <if test="categoryUpdateTime != null">
                category_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="categoryCreateTime != null">
                #{categoryCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="categoryUpdateTime != null">
                #{categoryUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.javabull.ssm.blog.bean.CategoryExample" resultType="java.lang.Long">
        select count(*) from tb_category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <select id="selectWithArticleCount" resultType="integer">
        SELECT COUNT(*) FROM tb_article a
        WHERE a.`article_id` IN (
            SELECT acr.`article_id` FROM tbl_article_category_ref acr
            LEFT JOIN tb_category c
            ON c.`category_id`=acr.`category_id`
            WHERE acr.`category_id`=#{categoryId}
        )
    </select>

    <select id="countByCategoryIdWithArticleAssocation" resultType="java.lang.Long" parameterType="integer">
        SELECT COUNT(*) FROM tbl_article_category_ref acr
        LEFT JOIN tb_category c
        ON acr.`category_id` = c.`category_id`
        WHERE c.`category_id` = #{categoryId};
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update tb_category
        <set>
            <if test="record.categoryId != null">
                category_id = #{record.categoryId,jdbcType=INTEGER},
            </if>
            <if test="record.categoryName != null">
                category_name = #{record.categoryName,jdbcType=VARCHAR},
            </if>
            <if test="record.categoryCreateTime != null">
                category_create_time = #{record.categoryCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.categoryUpdateTime != null">
                category_update_time = #{record.categoryUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update tb_category
        set category_id = #{record.categoryId,jdbcType=INTEGER},
        category_name = #{record.categoryName,jdbcType=VARCHAR},
        category_create_time = #{record.categoryCreateTime,jdbcType=TIMESTAMP},
        category_update_time = #{record.categoryUpdateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.javabull.ssm.blog.bean.Category">
        update tb_category
        <set>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="categoryCreateTime != null">
                category_create_time = #{categoryCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="categoryUpdateTime != null">
                category_update_time = #{categoryUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where category_id = #{categoryId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.javabull.ssm.blog.bean.Category">
    update tb_category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_create_time = #{categoryCreateTime,jdbcType=TIMESTAMP},
      category_update_time = #{categoryUpdateTime,jdbcType=TIMESTAMP}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
</mapper>